@model Managementsysteem.Models.Rollen

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rollen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Werknemer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Werknemer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
