@model Managementsysteem.Models.Taak

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Weet je zeker dat je @Html.DisplayFor(model => model.Naam) wilt verwijderen? </h3>
<div>
    <h4>Taak @Html.DisplayFor(model => model.Naam)</h4>
    <hr />


    <div class="col-md-12">
       <b>Taakomschrijving:</b> @Html.DisplayFor(model => model.Omschrijving)
    </div>
    <div class="col-md-12">
        <b>Datum:</b> @Html.DisplayFor(model => model.Datum)
    </div>
    <div class="col-md-12">
        <b>Verwachte uren:</b> @Html.DisplayFor(model => model.VerwachteUren)
    </div>
    <div class="col-md-12">
        <b>Gewerkte uren:</b> @Html.DisplayFor(model => model.GewerkteUren)
    </div>
    <div class="col-md-12">
        <b>Project:</b> @Html.DisplayFor(model => model.Project.Naam)
    </div>
    <div class="col-md-12">
        <b>Werknemer:</b> @Html.DisplayFor(model => model.Werknemer.UserName)
    </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger toevoegen margtop" />
        </form>
