@model Managementsysteem.Models.Taak

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div>
    <h4>
        Taak @Html.DisplayFor(model => model.Naam)

        @if (Model.Afgerond != true)
    {
        <a  style="margin-left: 5px;" class="btn btn-success pull-right" asp-action="Afronden" asp-route-id="@Model.Id">Afronden</a>
}

        <a class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.Id">Verwijder</a>
    </h4>
    <hr />
    <div class="col-md-12">






        <div class="col-md-6 infoblock">
            <div class="col-md-12">
               <b>Datum:</b> @Html.DisplayFor(model => model.Datum)
            </div>
            <div class="col-md-12">

                <b>Verwachte uren:</b> @Html.DisplayFor(model => model.VerwachteUren)
            </div>
            <div class="col-md-12">
                <b>Gewerkte uren:</b>  @Html.DisplayFor(model => model.GewerkteUren)

            </div>
            <div class="col-md-12">

                <b>Project:</b> @Html.DisplayFor(model => model.Project.Naam)
            </div>
            <div class="col-md-12">
                <b>Werknemer:</b> @Html.DisplayFor(model => model.Werknemer.UserName)
            </div>
        </div>
        <div class="col-md-6 infoblock">
        <div class="col-md-12">
            <b>Taakomschrijving:</b> @Html.DisplayFor(model => model.Omschrijving)
        </div>
        <div class="col-md-12">
            @if (Model.Image != null)
        {
          <a target="_blank" href="~/Uploads/@Model.Naam/@Model.Image" class="btn btn-primary"> Download bijgevoegd bestand </a>
    }
        </div>


        </div>




    </div>

    </div>