@model IEnumerable<Managementsysteem.Models.Taak>

@{
    ViewData["Title"] = "Taken";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Taken</h2>
<div class="row search">

    <div class="col-lg-6">
        <form asp-controller="Taak" asp-action="Index" method="get">

            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" placeholder="Zoeken...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Zoek!</button>
                </span>
            </div><!-- /input-group -->
        </form>

    </div><!-- /.col-lg-6 -->
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerwachteUren)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Werknemer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afgerond)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Naam)</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VerwachteUren)
                    </td>


                    <td>
                        <a asp-controller="Project" asp-action="Details" asp-route-id="@item.Project_Id">@Html.DisplayFor(modelItem => item.Project.Naam)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Werknemer.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Afgerond)
                    </td>

                    <td>
                        @if (item.Afgerond != true)
                        {
                            <a class="btn btn-success" asp-action="Afronden" asp-route-id="@item.Id">Afronden</a>
                        }
                        else
                        {

                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>

                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
