@model Managementsysteem.Models.Gebeurtenis

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h3>
    Weet je zeker dat je deze gebeurtenis wilt verwijderen?
</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Naam)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijderen" class="btn btn-danger toevoegen" /> 
    </form>
</div>
