@model Managementsysteem.Models.Klant

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>
    Weet je zeker dat je @Html.DisplayFor(model => model.Naam) wilt verwijderen?
</h3>


<div class="col-md-12 details">


    <div class="col-md-4 infoblock">

        <img src="~/Uploads/@Model.Naam/@Model.Profiel_foto" class="profilePicture" />


    </div>


    <div class="col-md-4 infoblock">
        <h2>Contactinformatie</h2>

        <div class="col-md-12">
            @Html.DisplayFor(model => model.Contactpersoon)
        </div>

        <div class="col-md-12">

            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="col-md-12">

            @Html.DisplayFor(model => model.Telefoon)

        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Straatnaam)


            @Html.DisplayFor(model => model.Huisnummer)

        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Postcode)


            @Html.DisplayFor(model => model.Woonplaats)
        </div>




    </div>


</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger toevoegen" /> 
</form>

