@model Managementsysteem.Models.Klant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contactpersoon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contactpersoon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefoon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefoon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Straatnaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Straatnaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Huisnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Woonplaats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Afspraak_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Afspraak_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
