@model Managementsysteem.Models.ViewModels.KlantViewmodel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Klant</h4>
    <hr />

            @Html.DisplayNameFor(model => model.Klant.Id)
 
            @Html.DisplayFor(model => model.Klant.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Contactpersoon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Contactpersoon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Telefoon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Telefoon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Straatnaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Straatnaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Huisnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Huisnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klant.Woonplaats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klant.Woonplaats)
        </dd>

    </dl>
    <img src="~/Uploads/@Model.Klant.Naam/@Model.Klant.Profiel_foto" class="profilePicture" />
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Klant.Id">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    <a class="btn btn-primary" asp-controller="Klant" asp-action="Project">Nieuw Project</a>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Projecten</h2>

        @foreach (Project project in Model.Project)
        {
            <tr>
                <td>@project.Naam</td>
                <td>@project.Deadline</td>

            </tr>
        }

    </div>
</div>
