@model Managementsysteem.Models.ViewModels.KlantViewmodel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.Klant.Naam)

    <a class="btn btn-primary pull-right" asp-controller="Klant" asp-action="Project">Nieuw Project</a>

</h2>


<hr />
<div class="col-md-12 details">
    <div class="col-md-4 infoblock">
        <h2>Contactinformatie</h2>

        <div class="col-md-12">
            @Html.DisplayFor(model => model.Klant.Contactpersoon)
        </div>

        <div class="col-md-12">

            @Html.DisplayFor(model => model.Klant.Email)
        </div>
        <div class="col-md-12">

            @Html.DisplayFor(model => model.Klant.Telefoon)

        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Klant.Straatnaam)


            @Html.DisplayFor(model => model.Klant.Huisnummer)

        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Klant.Postcode)


            @Html.DisplayFor(model => model.Klant.Woonplaats)
        </div>

        <div class="knoppen">



            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Klant.Id">Bewerk</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Klant.Id">Verwijder</a>


        </div>



    </div>


    <div class="col-md-6 infoblock">

        <img src="~/Uploads/@Model.Klant.Naam/@Model.Klant.Profiel_foto" class="profilePicture" />


    </div>


</div>



<h2 class="projecttitle">Projecten</h2>

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                   Naam
                </th>
                <th>
                    Status
                </th>

                <th>
                    Startdatum
                </th>
                <th>
                    Deadline
                </th>

                <th>
                    Klant
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Project project in Model.Project)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => project.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.Startdatum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => project.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => project.Klant.Naam)
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Bewerk</a>
                    <a class="btn btn-info" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id">Bekijk</a>
                    <a class="btn btn-danger" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">Verwijder</a>
                </td>
            </tr>
}
        </tbody>
    </table>


</div>
