@model IEnumerable<Managementsysteem.Models.Klant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Klanten</h2>

<form asp-controller="Klant" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Zoek" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contactpersoon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefoon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Straatnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Huisnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Woonplaats)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactpersoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straatnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huisnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woonplaats)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Bewerk</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Bekijk</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>

            </td>
        </tr>
}
    </tbody>
</table>
