@model Managementsysteem.Models.Project

@{
    ViewData["Title"] = "Verwijderen";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>
    Weet je zeker dat je @Html.DisplayFor(model => model.Naam) wilt verwijderen?
</h3>
<div>
    <h4>Project @Html.DisplayFor(model => model.Naam)</h4>
    <hr />

    <div class="col-md-12">
       <b>Projectstatus</b> @Html.DisplayFor(model => model.Status)
    </div>
    <div class="col-md-12">

        <b>Projectomschrijving: </b>@Html.DisplayFor(model => model.Omschrijving)
    </div>
    <div class="col-md-12">
       <b>Startdatum:</b> @Html.DisplayFor(model => model.Startdatum)
    </div>
    <div class="col-md-12">
    <b>Deadline:</b>    @Html.DisplayFor(model => model.Deadline)
    </div>
    <div class="col-md-12">

       <b>Klant: </b> @Html.DisplayFor(model => model.Klant.Naam)
    </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Verwijderen" class="btn btn-danger toevoegen margtop" />
        </form>
    </div>
