@model Managementsysteem.Models.ViewModels.ProjectViewmodel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Project.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Startdatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Startdatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Klant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Klant.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Project" asp-action="Taak">Nieuwe Taak</a>

</div>
