@model Managementsysteem.Models.ViewModels.ProjectViewmodel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>
    @Html.DisplayFor(model => model.Project.Naam)
</h2>

<div class="row">
    <div class="col-md-6">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Startdatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Startdatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Klant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Klant.Naam)
        </dd>


        <div>
            <a asp-action="Edit" asp-route-id="@Model.Project.Id">Edit</a> |
            <a asp-action="Index">Back to List</a> |
            <a asp-controller="Project" asp-action="Taak">Nieuwe Taak</a> |
            <a asp-controller="Project" asp-action="Gebeurtenis">Nieuwe Gebeurtenis</a>

        </div>


    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <h2>Taken</h2>

            @foreach (Taak taak in Model.Taak)
        {
            <tr>
                <td>@taak.Naam</td>
                <td>@taak.Omschrijving</td>

            </tr>
    }

        </div>

        <div class="col-md-12">
            <h2>Gebeurtenissen</h2>

            @foreach (Gebeurtenis gebeurtenis in Model.Gebeurtenis)
        {
            <tr>
                <td>@gebeurtenis.Beschrijving</td>

            </tr>
    }

        </div>


    </div>


</div>




