@{
    ViewData["Title"] = "Home Page";
}
@model Managementsysteem.Models.ViewModels.HomeViewmodel

<div class="row">
    <div class="col-md-4">
        <h2>Taken</h2>
        <div class="col-md-6 bg_grey onderlijning">Taak</div>
        <div class="col-md-6 onderlijning">Omschrijving</div>
       @foreach (Taak taak in Model.Taak)
        {
           <div class="col-md-12">
                <div class="col-md-6 bg_grey">@taak.Naam</div>
                <div class="col-md-6">@taak.Omschrijving</div>
           </div>
           
        }

    </div>
    <div class="col-md-4 bg_grey">
        <h2>Projecten</h2>

       @foreach (Project project in Model.Project)
        {
            <div class="col-md-12">
                <div class="col-md-6">@project.Naam</div>
                <div class="col-md-6">@project.Omschrijving</div>
            </div>

        }

    </div>
    <div class="col-md-4">
        <h2>Afspraken</h2>

       @foreach (Afspraak afspraak in Model.Afspraak)
        {
            <div class="col-md-12">
                <div class="col-md-6">@afspraak.Omschrijving</div>
                <div class="col-md-6">@afspraak.Datum</div>
            </div>
        }

    </div>
    </div>
