@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
@model Managementsysteem.Models.ViewModels.HomeViewmodel



<div class="row">
    <div class="col-md-4">
        <h2>Taken</h2>

        @foreach (Taak taak in Model.Taak)
        {
        <div class="row">
            <div class="col-lg-6">@taak.Naam</div>
            <a class="btn btn-info" asp-controller="Taak" asp-action="Details" asp-route-id="@taak.Id">Bekijk</a>


        </div>
        }

    </div>
    <div class="col-md-4">
        <h2>Projecten</h2>

        @foreach (Project project in Model.Project)
    {

        <div class="row">
            <div class="col-lg-6">@project.Naam</div>
            <div class="col-lg-6">
                        <a class="btn btn-info" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id">Bekijk</a>
                    </div>
        </div>
}

    </div>
    <div class="col-md-4">
        <h2>Afspraken</h2>

        @foreach (Afspraak afspraak in Model.Afspraak)
    {

        <div class="row">
            <div class="col-lg-6">@afspraak.Omschrijving</div>
            <div class="col-lg-6">
                @afspraak.Datum
                        <a class="btn btn-info" asp-controller="Afspraak" asp-action="Details" asp-route-id="@afspraak.Id">Bekijk</a>
             </div>
        </div>
}

    </div>

   

</div>
